/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/i/timer/rounds/PomodoroRound.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.PomodoroRound_container__HQhxw {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem
}

.PomodoroRound_roundsContainer__ksPTv {
  margin-top: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem
}

.PomodoroRound_button__lr2ps {
  margin-top: 0.25rem;
  opacity: 0.2;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 266ms
}

.PomodoroRound_button__lr2ps:hover {
  opacity: 1
}

.PomodoroRound_button__lr2ps:disabled {
  opacity: 0.2
}

.PomodoroRound_round__MLJDp {
  position: relative;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: rgba(255,255,255,.12)
}
.PomodoroRound_round__MLJDp::before {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(117 81 255 / var(--tw-bg-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%
}
.PomodoroRound_round__MLJDp.PomodoroRound_active__dyTvf::before {
  transition-duration: 1000ms;
  width: 40%
}
.PomodoroRound_round__MLJDp.PomodoroRound_completed__OtdAN::before {
  border-radius: 0.25rem;
  width: 100%
}
